.App {
    text-align: center;
    height: 100%;
  }
  .App-header {
    height: 150px;
    margin-top: 50px; 
  }
  .App-title {
    font-size: 3em;
    color: #100535;
  }
  .App-intro {
    font-size: large;
  }
body {
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EDEFF3;
}
.center{
    margin: 0 auto;
}
#header{
    text-align: center;
    margin-top: 50px; 
  }
h2 {
    font-family: 'Bungee', cursive; 
}
html, body {
    font-family: 'Source Code Pro', monospace;
}
input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}
.flex-box {
    width: 100%;
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    justify-content: center;
}
.float-right{
    float: right;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}
#med-input{
    margin-left: 7px; 
}
.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #00acb0;
  width: 100%;
  border-radius: 0px;
}
#room-label{
    margin: 7px; 
}
#select-menu {
    width: 50px; 
  }
#table{
    margin-top: 10px;
}

.true{
    background-color: #ff7473;
    color: white; 
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.viewClass{
    padding: 10px;
    margin-top: 50px; 
    width: 100%; 
  }
.warning{
    background-color: #ffc952; 
  }
 
 
 


